In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px
from scipy.stats import ttest_ind, chi2_contingency
from scipy.stats import ttest_ind

In [2]:
import sys
sys.path.append('../src')
from functions import *

# Loading the Data

In [3]:
sys.path.append('../src')
df_test_final = pd.read_csv('../Data/raw/df_test_final.csv')
df_control_final = pd.read_csv('../Data/raw/df_control_final.csv')
pd.set_option('display.max_columns', None)

# Check the data types

## df_control

In [4]:
# Convert specified columns to integer data type
df_control_final['client_id'] = df_control_final['client_id'].astype(object)
df_control_final['visit_visitor_id'] = df_control_final['visit_visitor_id'].astype(object)
df_control_final['start_time'] = round(df_control_final['start_time'].astype(float),2)
df_control_final['step_1'] = round(df_control_final['step_1'].astype(float),2)
df_control_final['step_2'] = round(df_control_final['step_2'].astype(float),2)
df_control_final['step_3'] = round(df_control_final['step_3'].astype(float),2)
df_control_final['date'] = pd.to_datetime(df_control_final.date)
df_control_final['bt_1'] = df_control_final['bt_1'].astype(int)
df_control_final['bt_2'] = df_control_final['bt_2'].astype(int)
df_control_final['bt_3'] = df_control_final['bt_3'].astype(int)
df_control_final['total_navigation'] = df_control_final['total_navigation'].astype(int)
df_control_final['last_step'] = df_control_final['last_step'].astype(object)
df_control_final['completion'] = df_control_final['completion'].astype(bool)
df_control_final['total_time_visit'] = round(df_control_final['total_time_visit'].astype(float),2)
df_control_final['Variation'] = df_control_final['Variation'].astype(object)
df_control_final['clnt_tenure_yr'] = df_control_final['clnt_tenure_yr'].astype(int)
df_control_final['clnt_tenure_mnth'] = df_control_final['clnt_tenure_mnth'].astype(int)
df_control_final['clnt_age'] = df_control_final['clnt_age'].astype(int)
df_control_final['gendr'] = df_control_final['gendr'].astype(object)
df_control_final['num_accts'] = df_control_final['num_accts'].astype(int)
df_control_final['calls_6_mnth'] = df_control_final['calls_6_mnth'].astype(int)
df_control_final['logons_6_mnth'] = df_control_final['logons_6_mnth'].astype(int)

In [5]:
df_control_final.dtypes

client_id                   object
visit_visitor_id            object
start_time                 float64
step_1                     float64
step_2                     float64
step_3                     float64
date                datetime64[ns]
bt_1                         int64
bt_2                         int64
bt_3                         int64
total_navigation             int64
last_step                   object
completion                    bool
total_time_visit           float64
Variation                   object
clnt_tenure_yr               int64
clnt_tenure_mnth             int64
clnt_age                     int64
gendr                       object
num_accts                    int64
bal                        float64
calls_6_mnth                 int64
logons_6_mnth                int64
dtype: object

## df_test

In [6]:
# Convert specified columns to integer data type
df_test_final['client_id'] = df_test_final['client_id'].astype(object)
df_test_final['visit_visitor_id'] = df_test_final['visit_visitor_id'].astype(object)
df_test_final['start_time'] = round(df_test_final['start_time'].astype(float),2)
df_test_final['step_1'] = round(df_test_final['step_1'].astype(float),2)
df_test_final['step_2'] = round(df_test_final['step_2'].astype(float),2)
df_test_final['step_3'] = round(df_test_final['step_3'].astype(float),2)
df_test_final['date'] = pd.to_datetime(df_test_final.date)
df_test_final['bt_1'] = df_test_final['bt_1'].astype(int)
df_test_final['bt_2'] = df_test_final['bt_2'].astype(int)
df_test_final['bt_3'] = df_test_final['bt_3'].astype(int)
df_test_final['total_navigation'] = df_test_final['total_navigation'].astype(int)
df_test_final['last_step'] = df_test_final['last_step'].astype(object)
df_test_final['completion'] = df_test_final['completion'].astype(bool)
df_test_final['total_time_visit'] = round(df_test_final['total_time_visit'].astype(float),2)
df_test_final['Variation'] = df_test_final['Variation'].astype(object)
df_test_final['clnt_tenure_yr'] = df_test_final['clnt_tenure_yr'].astype(int)
df_test_final['clnt_tenure_mnth'] = df_test_final['clnt_tenure_mnth'].astype(int)
df_test_final['clnt_age'] = df_test_final['clnt_age'].astype(int)
df_test_final['gendr'] = df_test_final['gendr'].astype(object)
df_test_final['num_accts'] = df_test_final['num_accts'].astype(int)
df_test_final['calls_6_mnth'] = df_test_final['calls_6_mnth'].astype(int)
df_test_final['logons_6_mnth'] = df_test_final['logons_6_mnth'].astype(int)

In [7]:
df_test_final.dtypes

client_id                   object
visit_visitor_id            object
start_time                 float64
step_1                     float64
step_2                     float64
step_3                     float64
date                datetime64[ns]
bt_1                         int64
bt_2                         int64
bt_3                         int64
total_navigation             int64
last_step                   object
completion                    bool
total_time_visit           float64
Variation                   object
clnt_tenure_yr               int64
clnt_tenure_mnth             int64
clnt_age                     int64
gendr                       object
num_accts                    int64
bal                        float64
calls_6_mnth                 int64
logons_6_mnth                int64
dtype: object

In [8]:
combined_df = pd.concat([df_control_final, df_test_final], ignore_index=True)
combined_df

,client_id,visit_visitor_id,start_time,step_1,step_2,step_3,date,bt_1,bt_2,bt_3,total_navigation,last_step,completion,total_time_visit,Variation,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth
0,555,637149525_38041617439_716659_402506806_5608737...,0.12,0.53,1.65,0.33,2017-04-15,1,1,1,3,confirm,True,2.63,Test,3,46,29,Other,2,25454.66,2,6
1,647,40369564_40101682850_311847_66758770_53988066587,0.12,0.30,3.15,2.72,2017-04-12,1,1,1,3,confirm,True,6.28,Test,12,151,57,M,2,30525.80,0,4
2,934,7076463_57954418406_971348_810392784_45004760546,2.37,0.00,0.00,0.00,2017-04-18,0,0,0,0,start,False,2.37,Test,9,109,51,F,2,32522.88,0,3
3,1336,583743392_96265099036_939815_920624746_3260333...,0.42,0.43,0.85,1.82,2017-05-08,1,1,1,3,confirm,True,3.52,Test,48,576,42,M,4,130537.18,6,9
4,1336,614001770_19101025926_112779_920624746_3260333...,0.00,0.00,0.00,0.00,2017-05-08,0,0,0,0,confirm,True,1.37,Test,48,576,42,M,4,130537.18,6,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74239,9999626,182723364_27031318473_880901_52633065_71189986073,0.13,0.00,0.00,0.00,2017-05-14,1,0,0,1,step_1,False,0.13,Test,9,113,35,M,2,36642.88,6,9
74240,9999729,99583652_41711450505_426179_604429154_69247391147,0.25,0.00,0.00,0.00,2017-04-05,1,0,0,1,step_1,False,0.25,Test,10,124,31,F,3,107059.74,6,9
74241,9999729,870243567_56915814033_814203_834634258_2186200...,0.08,0.17,0.65,0.35,2017-05-08,1,1,1,3,confirm,True,1.25,Test,10,124,31,F,3,107059.74,6,9
74242,9999729,493310979_9209676464_421146_843385170_36953471821,1.37,4.78,1.35,0.00,2017-04-20,1,1,0,2,start,False,7.50,Test,10,124,31,F,3,107059.74,6,9
74243,9999832,472154369_16714624241_585315_145538019_5444434...,0.13,0.00,0.00,0.00,2017-05-16,1,0,0,1,step_1,False,0.13,Test,23,281,49,F,2,431887.61,1,4

In [9]:
combined_df.dtypes

client_id                   object
visit_visitor_id            object
start_time                 float64
step_1                     float64
step_2                     float64
step_3                     float64
date                datetime64[ns]
bt_1                         int64
bt_2                         int64
bt_3                         int64
total_navigation             int64
last_step                   object
completion                    bool
total_time_visit           float64
Variation                   object
clnt_tenure_yr               int64
clnt_tenure_mnth             int64
clnt_age                     int64
gendr                       object
num_accts                    int64
bal                        float64
calls_6_mnth                 int64
logons_6_mnth                int64
dtype: object